<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disinformation Laundromat</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script>
        // This function is triggered when the "View Links" button is clicked
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.toggle-links').forEach(function (button) {
                button.addEventListener('click', function () {
                    const linkList = button.parentElement.parentElement.nextElementSibling.querySelector('.link-list');
                    linkList.style.display = linkList.style.display === 'none' ? 'table' : 'none';
                });
            });
        });
        // This function is triggered when the "Fingerprint" button is clicked
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.submit-fingerprint').forEach(function (button) {
                button.addEventListener('click', function () {
                    var url = this.getAttribute('data-url'); // Get the URL from the data attribute of the button
                    var form = document.querySelector('form[action="/fingerprint"]'); // Find the fingerprint form
                    form.querySelector('#url').value = url; // Set the URL into the input field
                    form.submit(); // Submit the form
                });
            });
        });
        document.addEventListener('DOMContentLoaded', function () {
            // Select the forms by class or id or tag, e.g., 'form' to target all forms
            document.querySelectorAll('form').forEach(function (form) {
                form.addEventListener('submit', function () {
                    // Show the loading icon
                    document.getElementById('loading').style.display = 'block';

                    // Optionally disable the submit button to prevent multiple submissions
                    this.querySelector('button[type="submit"]').disabled = true;
                });
            });
        });
        $('form').on('submit', function (e) {
            e.preventDefault(); // Prevent form from submitting normally if using AJAX
            $('#loading').show();

            // AJAX request
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (response) {
                    // Hide the loading icon
                    $('#loading').hide();
                },
                error: function () {
                    // Hide the loading icon
                    $('#loading').hide();
                }
            });
        });
        $(document).ready(function () {
            $('#indicators_table').DataTable();
            $('#matches_table').DataTable();
        });
    </script>
</head>

<body>
    <div id="loading" class="loading-overlay" style="display: none;">
        <div class="loading-spinner">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="text-center" style="padding-top:10px">
            <img src="https://i.imgur.com/k3kiUkk.png" style="width:25%" class="rounded" alt="logo">
        </div>
        <div class="text-center">
            <h1>Disinformation Laundromat</h1>
        </div>

        <hr />        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <h2 class="mt-3">Content Search</h2>
        <h4 class="mt-3">By URL</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="/parse-url">
                    <div class="form-group">
                        <label for="url">Enter URL:</label>
                        <input type="url" class="form-control" id="url" name="url" placeholder="https://example.com">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <hr />
        <h4 class="mt-3">By String</h4>
        <form method="post" action="/content">
            <div class="row">
                <div class="form-group col-md-5">
                    <label for="titleQuery">Title Query:</label>
                    <textarea type="text" class="form-control" id="titleQuery" name="titleQuery"
                        placeholder="Enter title query"></textarea>
                </div>
                <div class="form-group col-md-2">
                    <label for="combineOperator">AND/OR:</label>
                    <select class="form-control" id="combineOperator" name="combineOperator">
                        <option value="AND">AND</option>
                        <option value="OR">OR</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="contentQuery">Content Query:</label>
                    <textarea type="text" class="form-control" id="contentQuery" name="contentQuery"
                        placeholder="Enter content query"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <!-- Country Dropdown -->
                    <label for="country">Country:</label>
                    <select class="form-control" name="country" id="country">
                        {% for code, name in countries.items() %}
                        <option value="{{ code }}" {% if code=='us' %}selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group  col-md-6">
                    <!-- Language Dropdown -->
                    <label for="language">Language:</label>
                    <select class="form-control" name="language" id="language">
                        {% for code, name in languages.items() %}
                        <option value="{{ code }}" {% if code=='en' %}selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <hr />


        <h2 class="mt-3">Website Fingerprinting</h2>
        {% if current_user.is_authenticated %}
        <div class="row">
            <div class="col-md-12">
                <form method="POST" id='fingerprint' action="/fingerprint">
                    <div class="form-group">
                        <label for="url">Enter URL:</label>
                        <input type="url" class="form-control" id="url" name="url" placeholder="https://example.com">
                    </div>
                    <!-- Checkbox for URLSCAN -->
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="run_urlscan" name="run_urlscan">
                        <label class="form-check-label" for="run_urlscan">Run URLSCAN (may take up to 2 minutes)</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button> or
                    <a href="{{ url_for('indicators') }}" class="btn btn-secondary">View All Indicators</a>
                </form>
            </div>
            {% else %}
            <p>Please log in to access allow website fingerprinting</p>
            <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
        </div>
        {% endif %}


        <div class="container mt-3">
            <hr />
            {% if results %}
            <div class="row mb-3">
                <h2 class="mt-3 mr-3">Results</h2>

                <form method="post" action="/download_csv" class="mt-3 mr-3">
                    <button class="btn btn-primary mr-3" type="button" data-toggle="collapse"
                        data-target="#collapsibleTable" aria-expanded="false" aria-controls="collapsibleTable">
                        Show/Hide Table
                    </button>
                    <!-- Hidden input containing the CSV data -->
                    <input type="hidden" name="csv_data" value="{{ csv_data|safe }}">
                    <button type="submit" class="btn btn-secondary mr-3">Download Results as CSV</button>
                </form>
            </div>

            <div class="collapse show" id="collapsibleTable">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Associations</th>
                                <th>Domain</th>
                                <th>Occurrences</th>
                                <th>Links</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for domain, data in results.items() %}
                            <tr>
                                <td> {% if "EuVsDisinfo" in data['source'] %}
                                    <i class="fas fa-exclamation-triangle text-warning" title="EUvsDisinfo Domain"></i>
                                    {% elif "statemedia" in data['source'] %}
                                    <i class="fas fa-globe text-primary" title="State Media Domain"></i>
                                    {% elif "Pink Slime" in data['source'] %}
                                    <i class="fas fa-tint text-danger" title="Pink Slime Domain"></i>
                                    {% elif "Newsguard AI" in data['source'] %}
                                    <i class="fas fa-brain text-success" title="Newsguard AI Domain"></i>
                                    {% elif data['source']%}
                                    <i class="fas fa-bell" title="{{data['source']}}"></i>
                                    {% endif %}
                                </td>
                                <td>{{ domain }}</td>
                                <td>{{ data['count'] }}</td>
                                <td>
                                    <button class="btn btn-primary toggle-links">View Links</button>
                                    <button class="btn btn-link submit-fingerprint"
                                        data-url="https://{{domain}}">Fingerprint</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <table class="table table-sm link-list" style="display: none;">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Link</th>
                                                <th>Occurrences</th>
                                                <th>Engines</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for link_data in data['links'] %}
                                            <tr>
                                                <td>{{ link_data['title'] }}</td>
                                                <td><a href="{{ link_data['link'] }}" target="_blank">{{
                                                        link_data['link']
                                                        }}</a>
                                                </td>
                                                <td>{{ link_data['count'] }}</td>
                                                <td>{{ link_data['engines']|join(', ') }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
            <!-- Section for Indicators and Matches Tables -->
            {% if indicators_df %}
            <h2 class="mt-3">Indicators</h2> <button class="btn btn-primary" type="button" data-toggle="collapse"
                data-target="#collapsibleIndicatorTable" aria-expanded="false"
                aria-controls="collapsibleIndicatorTable">
                Show/Hide Table
            </button>
            <div class="mt-3 collapse show" id="collapsibleIndicatorTable">
                <table id="indicators_table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Indicator Type</th>
                            <th>Indicator Content</th>
                            <th>Domain Name</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for row in indicators_df %}
                        <tr>
                            <td>{{ row['indicator_type'] }}</td>
                            <td>{{ row['indicator_content'] }}</td>
                            <td>{{ row['domain_name'] }}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            {% endif %}
            {% if matches_df %}
            <h2 class="mt-3">Matches</h2> <button class="btn btn-primary" type="button" data-toggle="collapse"
                data-target="#collapsibleMatchesTable" aria-expanded="false" aria-controls="collapsibleMatchesTable">
                Show/Hide Table
            </button>

            <div class="mt-3 collapse show" id="collapsibleMatchesTable">
                <table id="matches_table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Primary Domain Name</th>
                            <th>Matching Domain Name</th>
                            <th>Match Type</th>
                            <th>Match Value</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for row in matches_df %}
                        <tr>
                            <td>{{ row['domain_name_x'] }}</td>
                            <td>{{ row['domain_name_y'] }}</td>
                            <td>{{ row['match_type'] }}</td>
                            <td>{{ row['match_value'] }}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>

                </table>
            </div>
            {% endif %}
        </div>
    </div>

</body>
<style>
    .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(128, 128, 128, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .loading-spinner {
        top: 25%;
        text-align: center;
    }

    table {
        table-layout: fixed;
        width: 100%;
    }

    td {
        word-wrap: break-word;
        white-space: normal;
    }

    .highlight-gdelt {
        background-color: lightgreen;
    }
</style>

</html>